@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background: url('../images/index.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.preLoader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  z-index: 99999;
}
.preLoader .spinner-border {
  margin-top: 50vh;
}
.none {
  display: none;
}

.signup {
  background: rgb(222, 244, 255);
}
.login {
  background: rgb(222, 244, 255);
}
.navbar {
  background: rgb(222, 244, 255);
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 7vh;
}
.brand h4{
  /* background: rgb(255, 136, 136); */
  font-size: 40px;
  font-weight: 900;
}
/* .links {
  background: rgb(140, 253, 112);
} */
nav ul li {
  display: flex;
  list-style: none;
}
nav ul li a {
  margin: 0px 40px;   
  margin-top: 14px;
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
}
nav ul li .linkHide {
  display: none;
}
.active {
  font-weight: 900;
}

.mainUserTable h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 35px 0px;
}
table {
  border-radius: 10px;
  width: 62% !important;
  margin: 0px 270px;
}
.table {
  content: '';
  background: rgb(255, 255, 255);
  opacity: 0.9;
}
.btnDiv {
  justify-content: center;
  align-items: center;
} 

/* SIGN up form */
.main h4{
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

.signupForm {
  display: grid;
  grid-template-columns: minmax(200px, 500px);
  justify-content: right;
  /* padding: 60px 350px; */
}
.signupForm form {
  border: 2px solid rgb(7, 143, 255);
  border-radius: 10px;
  padding: 46px 30px;
  margin: 50px 150px 0px 0px;
}
.loginForm {
  display: grid;
  grid-template-columns: minmax(200px, 500px);
  justify-content: left;
  /* padding: 60px 350px; */
}
.loginForm form {
  border: 2px solid rgb(7, 143, 255);
  border-radius: 10px;
  padding: 46px 30px;
  margin: 50px 0px 0px 150px;
}

.form-group {
  padding: 20px 0px;
  font-weight: bold;
}
.form-group input {
  border: 1px solid red;
}

.pw {
  -webkit-text-security: disc;
}