doctype html
html
    head
        title= title
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x", crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/account.css')
        script(src='/javascripts/pre.js')
    body
        block content
            //- nav
                //- div.uBrand 
                //- ul
                //-     li
                //-         a(href='')
                //-         a(href='')
                //-         a(href='')
                //-         a(href='')

            
            div.main
                //- SIDE bar
                div.Sidebar.d-flex.flex-column.flex-shrink-0.p-3.bg-light
                    a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-dark.text-decoration-none(href='/')
                        svg.bi.me-2(width='40', height='32')
                            use(xlink:href="#bootstrap")
                        span.fs-4 Sidebar
                    hr
                    ul.nav.nav-pills.flex-column.mb-auto
                        li.nav-item
                            a.nav-link.active(href='/', aria-current='page') Home
                                svg.bi.me-2(width='16', height='16')
                                    use(xlink:href='#')

                        li
                            a.nav-link(href='#', aria-current='page') Theater
                                svg.bi.me-2(width='16', height='16')
                                    use(xlink:href='#') 
                        
                        li
                            a.nav-link(href='#', aria-current='page') Volume
                                svg.bi.me-2(width='16', height='16')
                                    use(xlink:href='#') 

                        li
                            a.nav-link(href='#', aria-current='page') Databases
                                svg.bi.me-2(width='16', height='16')
                                    use(xlink:href='#') 

                        li
                            a.nav-link(href='#', aria-current='page') Networking
                                svg.bi.me-2(width='16', height='16')
                                    use(xlink:href='#') 

                        li
                            a.nav-link(href='#', aria-current='page') Monitoring
                                svg.bi.me-2(width='16', height='16')
                                    use(xlink:href='monitoring') 
                            
                    hr
                    div.dropdown
                        a.d-flex.align-items-center.link-dark.text-decoration-none.dropdown-toggle(href='#', id="dropdownUser2", data-bs-toggle="dropdown", aria-expanded="false")
                            img.rounded-circle.me2(src='/images/img.jpg', alt="", width="32", height="32")
                            strong.mx-2= uname

                        ul.dropdown-menu.text-small.shadow(aria-labelledby="dropdownUser2")
                            li
                                a.dropdown-item(href='#') New Projects...
                            li 
                                a.dropdown-item(href='#') Settings
                            li
                                a.dropdown-item(href='#') Profile
                            li
                                hr.dropdown-divider
                            li
                                a.dropdown-item.text-danger.fw-bold(href='/logout') Log out

                //- BODY MAIN
                div.body-main
                    div.container.my-2
                        h2.py-1= uname
                        h6.py-1= email 
                    div.subNav
                        nav.p-2
                            ul
                                li
                                    p(id='dashIcon') Dashboard
                                    p(id='photoIcon') Photos
                                    p(id='videoIcon') Videos    
                                    p(id='settingIcon') Settings
                    hr.afterNavHr.m-0.p-0

                    //- Dashboard
                    div.body-content.container.m-3#dashboard
                        h3 Person name
                        h3 Total used memory 
                        h3 Number of Photos
                        h3 Number of Videos

                    //- images
                    div.container.m-3#photos.photo
                        h1 Photos


                    //- Videos
                    div.container.m-3#videos.video
                        h1 Videos

                    
                    //- Settings
                    div.container.m-3#settings.setting
                        h1 Settings






































































































    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js", integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4", crossorigin="anonymous")            
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='./javascripts/account.js')