doctype html
html
    head
        title= title_signUp
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x", crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(style='background: url("/images/signup.jpg")fixed center cover;')
        block content
            nav.signup
                ul
                    li
                        a(href='/') Home
                        a.active(href='/signup') Sign Up
                        a(href='/login') Log In
                        a.linkHide(href='/') Log out


            header
                .main.text-center
                    h3 Welcome to the Express-Ajax
                    h4 Sign Up Please...
                    
            div#test

            div.signupForm
                form(action='signup', method='post')
                    h4.fw-bold.text-center Sign Up
                    h5.text-center.text-danger= alert
                    div.form-group
                        label(for='email') Email Address
                        input.form-control(type='email', name='email', id='email')

                    div.form-group
                        label(for='username') Username
                        input.form-control(type='text', name='uname', id='uname')

                    div.form-group
                        label(for='password') Password
                        input.form-control(type='password', name='pword', id='pword')
                    hr
                    button.btn.btn-md.btn-primary(type='submit') Sign Up



        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js", integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4", crossorigin="anonymous")            
        script(src='./javascripts/jquery.js')